@model OverviewModel<TerminalResponse>

@{
    ViewData["Title"] = "List orders";
}

<div class="container">
    <h2>List of terminals</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date created</th>
                <th scope="col">Status</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Serialnumber</th>
                <th scope="col">Currency</th>
                <th scope="col">Locale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TerminalResponse terminal in Model.Items) {
                <tr>
                    <td>@terminal.Id</td>
                    <td>@terminal.CreatedAt</td>
                    <td>@terminal.Status</td>
                    <td>@terminal.Brand</td>
                    <td>@terminal.Model</td>
                    <td>@terminal.SerialNumber</td>
                    <td>@terminal.Currency</td>
                    <td>@terminal.Locale</td>
                </tr>
            }
        </tbody>
    </table>
    
    <partial name="_OverviewNavigation" model="Model.Navigation" />
</div>