@model OverviewModel<PaymentResponse>

@{
    ViewData["Title"] = "List payments";
}

<div class="container">
    <h2>List of payments</h2>
    
    <div class="clearfix">
        <a asp-action="Create" class="btn btn-primary float-right">Create new payment</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date created</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Method</th>
                <th scope="col">Metadata</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PaymentResponse payment in Model.Items) {
                <tr>
                    <td>@payment.Id</td>
                    <td>@payment.CreatedAt</td>
                    <td>@payment.Amount.ToString()</td>
                    <td>@payment.Status</td>
                    <td>@payment.Method</td>
                    <td>
                        @if (!String.IsNullOrEmpty(payment.Metadata)) {
                            <button class="btn btn-outline-secondary" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    href="#metadata-payment-@payment.Id" 
                                    aria-expanded="false" 
                                    aria-controls="collapseExample">
                                Show metadata
                            </button>

                            <div class="collapse mt-2" id="metadata-payment-@payment.Id">
                                <div class="card card-body">
                                    @payment.Metadata
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (payment.Status == PaymentStatus.Open) {
                            <a href="@payment.Links.Checkout.Href" class="btn btn-outline-secondary" target="_blank">Pay</a>
                        }
                        
                        @if (payment.Status == PaymentStatus.Paid) {
                            <form method="post" asp-controller="Refund" asp-action="Refund" asp-route-paymentId="@payment.Id">
                                <input type="submit" name="Refund" value="Refund" class="btn btn-outline-secondary"/>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <partial name="_OverviewNavigation" model="Model.Navigation" />
</div>