@page "/payment/overview"

@using Mollie.Api.Client.Abstract
@using Mollie.Api.Models.List
@using Mollie.Api.Models.Payment
@using Mollie.Api.Models.Payment.Response
@using Mollie.Api.Models.Url

@inject IPaymentClient PaymentClient

<h3>Payment overview</h3>

@if (_payments == null) {
    <p>Loading...</p>
}
else {
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date created</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Method</th>
            <th scope="col">Metadata</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PaymentResponse payment in _payments.Items) {
            <tr>
                <td>@payment.Id</td>
                <td>@payment.CreatedAt</td>
                <td>@payment.Amount.ToString()</td>
                <td>@payment.Status</td>
                <td>@payment.Method</td>
                <td> @payment.Metadata</td>
                <td>
                    @if (payment.Status == PaymentStatus.Open) {
                        <a href="@payment.Links.Checkout.Href" class="btn btn-outline-secondary" target="_blank">Pay</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @if (_payments.Links.Previous != null) {
        <a class="btn btn-primary" href="/payment/overview?Url=@_payments.Links.Previous.Href">&lt;&lt; Previous</a>
    }

    @if (_payments.Links.Next != null) {
        <a class="btn btn-primary" href="/payment/overview?Url=@_payments.Links.Next.Href">Next &gt;&gt;</a>
    }
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Url { get; set; }
    
    private ListResponse<PaymentResponse> _payments = null;

    protected override async Task OnParametersSetAsync() {
        await LoadData();
    }

    private async Task LoadData() {
        if (string.IsNullOrEmpty(Url)) {
            _payments = await PaymentClient.GetPaymentListAsync();
        }
        else {
            _payments = await PaymentClient.GetPaymentListAsync(new UrlObjectLink<ListResponse<PaymentResponse>>() {
                Href = Url
            });
        }
    }
}