@model IEnumerable<Mollie.Api.Models.Customer.CustomerResponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metadata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metadata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDatetime)
        </td>
        <td>
            @Html.ActionLink("Details", "Detail", new { id = item.Id }) |
            @Html.ActionLink("Mandaten", "Index", new { controller = "Mandate", id = item.Id }) 
        </td>
    </tr>
}

</table>
