@using Mollie.Api.Models.Payment
@using Mollie.Api.Models.Payment.Response
@model OverviewModel<PaymentResponse>

@{
    ViewData["Title"] = "List payments";
}

<div class="container">
    <h2>List of payments</h2>
    
    <div class="clearfix">
        <a asp-action="Create" class="btn btn-primary float-right">Create new payment</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date created</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Method</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PaymentResponse payment in Model.Items) {
                <tr>
                    <td>@payment.Id</td>
                    <td>@payment.CreatedAt</td>
                    <td>@payment.Amount.Value @payment.Amount.Currency</td>
                    <td>@payment.Status</td>
                    <td>@payment.Method</td>
                    <td>
                        @if (payment.Status == PaymentStatus.Open) {
                            <a href="@payment.Links.Checkout.Href" class="btn btn-primary" target="_blank">Pay</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @Html.Partial("_OverviewNavigation", Model.Navigation)
</div>