@using Mollie.Api.Models.Payment.Response
@model Mollie.Api.Models.List.ListResponse<Mollie.Api.Models.List.Specific.PaymentListData>

@{
    ViewData["Title"] = "List payments";
}

<div class="container">
    <h2>List of payments</h2>
    
    <div class="clearfix">
        <a asp-action="Create" class="btn btn-primary float-right">Create new payment</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date created</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Method</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PaymentResponse payment in Model.Embedded.Payments) {
                <tr>
                    <td>@payment.Id</td>
                    <td>@payment.CreatedAt</td>
                    <td>@payment.Amount.Value @payment.Amount.Currency</td>
                    <td>@payment.Status</td>
                    <td>@payment.Method</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
    
    <div class="clearfix">
        @if (Model.Links.Previous != null) {
            <a class="btn btn-primary" role="button" asp-action="Previous" asp-route-url="@Model.Links.Previous.Href">&lt;&lt; Previous</a>
        }

        @if (Model.Links.Next != null) {
            <a class="btn btn-primary float-right" role="button" asp-action="Next" asp-route-url="@Model.Links.Next.Href">Next &gt;&gt;</a>
        }
    </div>
</div>