@model IEnumerable<Mollie.Api.Models.Mandate.MandateResponse>

@{
    ViewBag.Title = "Mandates";
}

<h2>Mandates</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { customerId = ViewBag.CustomerId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", new { customerId = ViewBag.CustomerId, mandateId = item.Id })
            </td>
        </tr>
    }

</table>
