@model OverviewModel<OrderResponse>

@{
    ViewData["Title"] = "List orders";
}

<div class="container">
    <h2>List of orders</h2>
    
    <div class="clearfix">
        <a asp-action="Create" class="btn btn-primary float-right">Create new order</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date created</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Method</th>
                <th scope="col">Metadata</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderResponse order in Model.Items) {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.CreatedAt</td>
                    <td>@order.Amount.ToString()</td>
                    <td>@order.Status</td>
                    <td>@order.Method</td>
                    <td>
                        @if (!String.IsNullOrEmpty(order.Metadata)) {
                            <button class="btn btn-outline-secondary" 
                                    type="button" 
                                    data-bs-toggle="collapse" 
                                    href="#metadata-order-@order.Id" 
                                    aria-expanded="false" 
                                    aria-controls="collapseExample">
                                Show metadata
                            </button>

                            <div class="collapse mt-2" id="metadata-order-@order.Id">
                                <div class="card card-body">
                                    @order.Metadata
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (order.Status == OrderStatus.Created) {
                            <a href="@order.Links.Checkout.Href" class="btn btn-outline-secondary" target="_blank">Pay</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <partial name="_OverviewNavigation" model="Model.Navigation" />
</div>